<div class="navigation col-lg-12">
    <nav class="navbar navbar-default">
        <div class="container-fluid main-menu">
            <div class="navbar-header">
                <a [routerLink]="[ '/home']" class="navbar-brand">
                    {{ title }}
                </a>
            </div>

            <ul class="nav navbar-nav" *ngIf="indentity">
                <li>
                    <a [routerLink]="[ '/home']" routerLinkActive="active">
                        <span class="glyphicon glyphicon-home"></span> Inicio
                    </a>
                </li>
                <li>
                    <a [routerLink]="[ '/timeline']" routerLinkActive="active">
                        <span class="glyphicon glyphicon-th-list"></span> Timeline
                    </a>
                </li>
                <li>
                    <a [routerLink]="[ '/users']" routerLinkActive="active">
                        <span class="glyphicon glyphicon-user"></span> Gente
                    </a>
                </li>
                <li>
                    <a [routerLink]="[ '/mensajes']" routerLinkActive="active">
                        <span class="glyphicon glyphicon-envelope"></span> Mensajes
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="indentity">
                <li class="avatar">
                    <!-- cargar imagen de usuario-->
                    <img src="{{url + 'get-image-user/' + indentity.image}}" *ngIf="indentity && indentity.image" />
                </li>
                <li class="dropdown" (click)="showMeModal();">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {{indentity.nick}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu ">
                        <li>
                            <a [routerLink]="[ '/perfil', indentity._id ]">
                                <span class="glyphicon glyphicon-user"></span> Mi perfil
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="[ '/mis-datos']">
                                <span class="glyphicon glyphicon-cog"></span> Mis datos
                            </a>
                        </li>
                        <li>
                            <a class="pointer" (click)="logout()">
                                <span class="glyphicon glyphicon-log-out"></span> Salir
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" *ngIf="!indentity">
                <li>
                    <a [routerLink]="[ '/login']" routerLinkActive="active">
                        <span class="glyphicon glyphicon-log-in"></span> Login
                    </a>
                </li>
                <li>
                    <a [routerLink]="[ '/registro']" routerLinkActive="active">
                        <span class="glyphicon glyphicon-user"></span> registro
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>